<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="NutriCheck Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">.</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>tests</directory>
        </exclude>
    </coverage>
    <php>
        <const name="UPLOAD_DIR" value="/var/www/html/uploads/"/>
        <const name="MAX_FILE_SIZE" value="10485760"/>
        <const name="ALLOWED_TYPES" value="['image/jpeg', 'image/png', 'image/gif', 'image/webp']"/>
    </php>
</phpunit> 